<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.stefan_oltmann.kaesekaestchen">

    <application
        android:allowClearUserData="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity
            android:name=".StartseiteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SpielActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>

</manifest>